.login-page { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 40px 35px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  color: #333;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  font-weight: 600;
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #205295;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin-top: 5px;
}

button:hover { 
  opacity: 0.9; 
}

.signup-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.signup-text a {
  color: #205295;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 12px;
}
