html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(160deg, #0b132b 0%, #0b132b 50%, #163e71 100%);

}

a {
  color: white;
  text-decoration: none;
}

button {
  background: #205295;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s;
}
button:hover {
  opacity: 0.9;
}
